In [6]:
import os
from dotenv import load_dotenv
load_dotenv()

True

In [7]:
#import api key from env
import os
from dotenv import load_dotenv
load_dotenv()

API_KEY = os.environ.get("OPENAI_API_KEY")
print(API_KEY)

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

In [11]:
#define role
age_list = ["College student", "Graduate student", "Teacher"]
sex_list = ["male", "female"]
fisique_list = ["fat", "normal", "skinny"]

In [ ]:

#generate prompt by randamly selecting from the list
import random
age = random.choice(age_list)
sex = random.choice(sex_list)
fisique = random.choice(fisique_list)

role = f"you are the {age} {sex} {fisique} person."

In [10]:
prompt = "There is 4 types of vegetables in the shop. select one of them.Just call number of the vegetable."

content =  "(1): Dynamite chili and tangy lime-seasoned beets\n\
            (2): Beets\n\
            (3): Lighter-choice beets with no added sugar\n\
            (4): High-antioxidant beets"

In [6]:
class Person:
    def __init__(self, age, sex, fisique):
        self.age = age
        self.sex = sex
        self.fisique = fisique
    #define the choice of the age

In [21]:
#generate completion

import openai
openai.api_key = API_KEY
def generate_completion(role, content, prompt):
    response = openai.ChatCompletion.create(
        model="gpt-4",
        messages=[
            {"role": "system", "content": role},
            {"role": "assistant", "content": content},
            {"role": "user", "content": prompt},
        ],
        temperature=0.7,
        max_tokens=100,
        )
    return response

I'll choose number 2.

IndexError: list index out of range

In [24]:
import re

response = generate_completion(role, content, prompt)
print(response.choices[0].message.content)
numbers = re.findall(r'\d+', response.choices[0].message.content)
vegetable_number = int(numbers[0]) if numbers else None

print(vegetable_number)

I'll choose number 2.
2

In [14]:
#save responce as df
import pandas as pd
def save_response(age,sex,fisique,response):
    df = pd.DataFrame({"age":age,"sex":sex,"fisique":fisique,"response":},index=[0])
    return df

In [26]:
import random

df = pd.DataFrame()

for i in range(50):
    age = random.choice(age_list)
    sex = random.choice(sex_list)
    fisique = random.choice(fisique_list)

    role = f"you are the {age} {sex} {fisique} person."
    #print(role)

    response = generate_completion(role, content, prompt)
    content = response.choices[0].message.content

    #extract number from responce
    numbers = re.findall(r'\d+', content)
    vegetable_number = int(numbers[0]) if numbers else None
    df_sample = pd.DataFrame({"age":age,"sex":sex,"fisique":fisique,"response":content,"number":vegetable_number},index=[0])

    df = pd.concat([df,df_sample],ignore_index=True)

df.head(50)

                 age     sex fisique                     response  number
0    College student  female  normal        I'll choose number 3.       3
1    College student  female  normal        I'll choose number 2.       2
2            Teacher    male  normal        I'll choose number 3.       3
3    College student  female  skinny           I choose number 2.       2
4   Graduate student    male  normal           I choose number 3.       3
5    College student  female  skinny           I choose number 2.       2
6   Graduate student    male  normal           I choose number 3.       3
7            Teacher  female     fat                    Number 2.       2
8            Teacher    male  skinny                           3.       3
9   Graduate student    male  normal                            2       2
10  Graduate student    male  normal                            3       3
11  Graduate student    male     fat                            2       2
12  Graduate student  female  normal                            3       3
13  Graduate student  female  skinny                            2       2
14  Graduate student  female     fat                            3       3
15   College student    male  normal                            2       2
16  Graduate student    male     fat                            3       3
17  Graduate student  female     fat                            2       2
18  Graduate student    male     fat                            3       3
19           Teacher    male     fat                            2       2
20   College student  female  normal                            3       3
21           Teacher  female     fat                            2       2
22  Graduate student    male     fat                            3       3
23  Graduate student  female  normal                            2       2
24           Teacher  female     fat                            3       3
25   College student    male  normal                            2       2
26   College student    male     fat                            3       3
27           Teacher  female  normal                            2       2
28   College student  female  skinny                            3       3
29           Teacher    male  skinny                            2       2
30   College student    male  skinny                            3       3
31   College student    male  skinny                            2       2
32   College student  female     fat                            3       3
33   College student  female  normal                            2       2
34   College student    male  normal                            3       3
35   College student  female     fat                            2       2
36  Graduate student  female  skinny                            3       3
37  Graduate student  female  skinny                            2       2
38           Teacher    male     fat                            3       3
39  Graduate student  female  skinny                            2       2
40           Teacher  female  skinny                            3       3
41  Graduate student    male  normal                            2       2
42           Teacher    male     fat  Sure, I'll choose number 3.       3
43           Teacher    male  normal        I'll choose number 2.       2
44           Teacher  female  normal        I'll choose number 3.       3
45           Teacher  female  normal        I'll choose number 2.       2
46  Graduate student    male  skinny        I'll choose number 3.       3
47  Graduate student  female     fat        I'll go for number 2.       2
48   College student  female  skinny        I'll choose number 3.       3
49           Teacher  female  skinny        I'll choose number 2.       2

In [3]:
# To extract the number from the given string "(4)", we can use a simple regular expression that matches digits
import re

# Define the string
input_string = "3 student(4)"

# Use regular expression to find all digits in the string
numbers = re.findall(r'\d+', input_string)

# Convert the first found number to an integer
result = int(numbers[0]) if numbers else None

result

3

In [5]:
# Given input string
input_string = "student(4)"

# Split the string by '(' and then by ')' to isolate the number
# The first split by '(' gives ['', '4)'], taking the second element gives '4)'
# The second split by ')' on '4)' gives ['4', ''], taking the first element gives '4'
extracted_number = input_string.split('(')[1].split(')')[0]

# Convert the extracted string to an integer
result = int(extracted_number)

print(result)

4

In [10]:
df_all = pd.DataFrame()
df_all = pd.concat([df_all,df],ignore_index=True)