In [16]:
import os
from dotenv import load_dotenv
load_dotenv()

True

In [1]:
#import api key from env
import os
from dotenv import load_dotenv
load_dotenv()

API_KEY = os.environ.get("OPENAI_API_KEY")
print(API_KEY)

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

In [2]:
import openai

openai.api_key = API_KEY

response = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": "What are you?"},
    ]
)

print(response['choices'][0]['message']['content'])

I am a computer program designed to assist and help you with any questions or tasks you may have. How can I assist you today?

In [3]:
#define role
age = ["College student", "Graduate student", "Teacher"]
sex = ["male", "female"]
fisique = ["fat", "normal", "skinny"]

#generate prompt by randamly selecting from the list
import random
age = random.choice(age)
sex = random.choice(sex)
fisique = random.choice(fisique)

role = f"you are the {age} {sex} {fisique} person."

In [4]:
prompt = "There is 4 types of vegetables in the shop. select one of them.Just call number of the vegetable."

content =  "(1): Dynamite chili and tangy lime-seasoned beets\n\
            (2): Beets\n\
            (3): Lighter-choice beets with no added sugar\n\
            (4): High-antioxidant beets"

In [5]:
#define role
age_list = ["young", "middle-aged", "old"]
sex_list = ["male", "female"]
fisique_list = ["fat", "normal", "skinny"]

In [6]:
class Person:
    def __init__(self, age, sex, fisique):
        self.age = age
        self.sex = sex
        self.fisique = fisique
    #define the choice of the age

In [7]:
#generate completion
import openai
openai.api_key = API_KEY
def generate_completion(role, content, prompt):
    response = openai.ChatCompletion.create(
        model="gpt-4",
        messages=[
            {"role": "system", "content": role},
            {"role": "assistant", "content": content},
            {"role": "user", "content": prompt},
        ],
        temperature=0.7,
        max_tokens=100,
        )
    return response

print(response.choices[0].message['content'])

I am a computer program designed to assist and help you with any questions or tasks you may have. How can I assist you today?

In [8]:
#save responce as df
import pandas as pd
def save_response(age,sex,fisique,response):
    df = pd.DataFrame({"age":age,"sex":sex,"fisique":fisique,"response":response.choices[0].message['content']},index=[0])
    return df

In [9]:
import random

df = pd.DataFrame()

for i in range(50):
    age = random.choice(age_list)
    sex = random.choice(sex_list)
    fisique = random.choice(fisique_list)

    role = f"you are the {age} {sex} {fisique} person."
    #print(role)

    response = generate_completion(role, content, prompt)
    df = pd.concat([df,save_response(age,sex,fisique,response)],ignore_index=True)

df.head(50)

,age,sex,fisique,response
0,young,male,normal,Vegetable3
1,old,female,fat,Vegetable2
2,old,male,skinny,Vegetable2
3,young,male,normal,Vegetable3
4,young,female,normal,I choose Vegetable2.
5,young,male,fat,I'll go with Vegetable3.
6,young,female,normal,I will select Vegetable2.
7,middle-aged,male,fat,I'll go with Vegetable3. It sounds healthy and...
8,middle-aged,male,normal,Vegetable2
9,old,male,normal,I'll go with Vegetable3.
10,young,male,fat,Vegetable3
11,old,female,fat,Vegetable2
12,middle-aged,male,fat,Vegetable2
13,old,male,fat,Vegetable2
14,middle-aged,male,fat,I'll choose Vegetable3.
15,middle-aged,female,skinny,Vegetable3
16,old,female,normal,Vegetable2
17,middle-aged,female,fat,Vegetable3
18,middle-aged,female,skinny,I choose Vegetable3.
19,middle-aged,male,normal,I'll go with Vegetable3.
20,middle-aged,male,fat,I will go with Vegetable3.
21,young,female,normal,Vegetable2
22,old,male,fat,I'll choose Vegetable3.
23,young,female,fat,Vegetable2
24,old,male,skinny,"I'll go with Vegetable2, the beets."
25,young,female,skinny,I'll go with Vegetable3.
26,middle-aged,female,fat,"I'll go with Vegetable3, the lighter-choice be..."
27,old,female,fat,I will choose Vegetable3.
28,young,male,normal,Vegetable2
29,old,female,fat,Vegetable2
30,middle-aged,female,fat,I will go for Vegetable3.
31,old,female,normal,Vegetable2
32,young,female,fat,Vegetable3
33,middle-aged,female,skinny,I'll choose Vegetable3.
34,old,male,fat,Vegetable3
35,old,male,fat,I'll go with Vegetable3.
36,old,male,skinny,Vegetable3
37,young,male,normal,Vegetable2
38,middle-aged,male,skinny,I'll go with Vegetable1.
39,young,female,skinny,Vegetable2
40,young,male,skinny,Vegetable2
41,old,female,fat,Vegetable2
42,middle-aged,male,normal,I'll choose Vegetable3.
43,middle-aged,male,skinny,I'll go with Vegetable2.
44,young,female,fat,Vegetable3
45,middle-aged,male,skinny,Vegetable3
46,young,male,skinny,Vegetable2
47,middle-aged,female,normal,Vegetable2
48,young,male,normal,"I'll take Vegetable2, the beets."
49,old,female,fat,Vegetable2

In [3]:
# To extract the number from the given string "(4)", we can use a simple regular expression that matches digits
import re

# Define the string
input_string = "3 student(4)"

# Use regular expression to find all digits in the string
numbers = re.findall(r'\d+', input_string)

# Convert the first found number to an integer
result = int(numbers[0]) if numbers else None

result

3

In [5]:
# Given input string
input_string = "student(4)"

# Split the string by '(' and then by ')' to isolate the number
# The first split by '(' gives ['', '4)'], taking the second element gives '4)'
# The second split by ')' on '4)' gives ['4', ''], taking the first element gives '4'
extracted_number = input_string.split('(')[1].split(')')[0]

# Convert the extracted string to an integer
result = int(extracted_number)

print(result)

4

In [10]:
df_all = pd.DataFrame()
df_all = pd.concat([df_all,df],ignore_index=True)